target
ideatarget
.target
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea/
*.iml
node_modules/
.DS_Store
contrib/vagrant/.vagrant/machines/
*.pyc
*.log
*hs_err*
*.mdmp
skil-ui-modules/src/main/typescript/dashboard/dist
file-uploads/
*.ipynb_checkpoints*
/Dockerfile
/build-docker.sh
